* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: #1F2937;
  color: white;
  height: 80px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar a {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.navbar a:hover {
  color: #3882F6;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.header {
  background-color: #1F2937;
  color: white;
  height: 400px;
}

.header img {
  max-height: 250px;
  border-radius: 5px;
}

.header .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-bottom: 0.15em;
  font-size: 42px;
}

.header button {
  background-color: #3882F6;
  padding: 5px 20px;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-top: 16px;
}

.boxes {
  margin: 60px 0;
  text-align: center;
}

.boxes h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1F2937;
}

.box-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.boxes .box {
  width: 200px;
}

.boxes .illustration {
  width: 100%;
  height: 200px;
  border: 2.5px solid #3882F6;
  border-radius: 8px;
  margin-bottom: 15px;
}

.boxes h4 {
  margin-bottom: 8px;
  font-weight: bold;
  color: #1F2937;
}

.boxes p {
  font-size: 0.9rem;
  color: #1F2937;
}

.quote {
  background-color: #E5E7EB ;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.quote .container {
  max-width: 890px;
}

.quote p {
  font-size: 22px;
  font-weight: 100;
  font-style: italic;
}